<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서입니다. -->

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace속성 : 이 문서에 작성된 SQL문을 호출해서 사용할 때 같이 사용되는 이름 -->
<mapper namespace="memberMypageTenMinMath">
	<update id="selfUpdateMath" parameterType="mathSettingVo">
		UPDATE mathsetting 
		SET mathsetting_minute=#{mathsetting_minute}, 
		mathsetting_grade=#{mathsetting_grade}, 
		mathsetting_level=#{mathsetting_level},
		mathsetting_agree=#{mathsetting_agree}
		where cus_id=#{cus_id}
	</update>
	
	<select id="getSysdateLog" parameterType="string" resultType="String">
	    select distinct view_date
	    from member m 
	    inner join view_list v
	    on m.cus_id=v.cus_id
	    where v.view_gu='1' and v.cus_id =#{cus_id}   
   </select>
   
   <select id="getViewMaterial" parameterType="string" resultType="viewListVo">
   	  SELECT 
    vl.VIEW_NO,
    vl.CUS_ID,
    vl.VIEW_DATE,
    vl.MATERIAL_NO,
    vl.VIEW_GU,
    vl.VIEW_RANK,
    vl.VIEW_POINT,
    m.MATERIAL_TITLE material_title
FROM 
    view_list vl
JOIN 
    material m ON vl.MATERIAL_NO = m.MATERIAL_NO
JOIN (
    SELECT 
        MATERIAL_NO, 
        MAX(VIEW_NO) AS MAX_VIEW_NO
    FROM 
        view_list
    WHERE 
        CUS_ID = #{cus_id} AND
        VIEW_GU = '2'
    GROUP BY 
        MATERIAL_NO
) sub ON vl.MATERIAL_NO = sub.MATERIAL_NO AND vl.VIEW_NO = sub.MAX_VIEW_NO
WHERE 
    vl.CUS_ID = #{cus_id} AND
    vl.VIEW_GU = '2'   
   </select>

	<select id="getMathSetting" parameterType="string" resultType="mathSettingVo">
		select mathsetting_grade, mathsetting_level
		from mathsetting
		where cus_id=#{cus_id}
	</select>
	
	<insert id="insertTenMin" parameterType="mathSettingVo">
		insert into mathsetting
		values( MATHSETTING_SEQ.NEXTVAL, #{cus_id}, #{mathsetting_minute}, sysdate, #{mathsetting_grade} , #{mathsetting_level}, 'Y')
	</insert>
	
	<select id="todayTenMinMaterial" parameterType="map" resultType="materialVo">
		SELECT m.*
FROM material m
WHERE m.MATERIAL_GRADE = #{material_grade}
  AND m.MATERIAL_LEVEL = #{materiala_level}
  AND m.MATERIAL_NO NOT IN (
    SELECT v.MATERIAL_NO
    FROM view_list v
    WHERE v.CUS_ID = #{cus_id}
)
AND ROWNUM = 1
ORDER BY m.MATERIAL_NO ASC
	</select>
</mapper>