<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서입니다... -->

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mymember">
	<select id="memberList" resultType="myMemberVo">
		select * from MYMEMBER
	</select>
	
	<insert id="insertList" parameterType="myMemberVo" >
		insert into MYMEMBER( mem_id, mem_pass, mem_name, mem_tel, mem_addr)
		values(#{mem_id},#{mem_pass},#{mem_name},#{mem_tel},#{mem_addr})
	</insert>

	<select id="selectOneMember" parameterType="String" resultType="myMemberVo">
		select * from MYMEMBER
		where mem_id=#{mem_id}
	</select>

	<update id="updateMember" parameterType="String" >
		UPDATE mymember 
		SET mem_pass=#{mem_pass}, mem_name=#{mem_name}, mem_tel=#{mem_tel}, mem_addr=#{mem_addr}, mem_photo=#{mem_photo}
		where mem_id=#{mem_id}	
	</update>

	<delete id="deleteMember" parameterType="String">
		DELETE FROM mymember WHERE mem_id=#{mem_id}	
	</delete>
</mapper>	












































